body,
html {
    height: 100%;
    background-image: url(../images/warp.png);
    background-position: center center;
}

.bg {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center center;
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    color: #ffff;
    text-align: right;
    font-size: 50px;
}

h2 {
    font-family: 'Orbitron', sans-serif;
    color: #ffff;
    background-color: black;
}

h3 {
    font-family: 'Orbitron', sans-serif;
    font-size: 11px;
    margin: 0;
}

h4 {
    font-family: 'Montserrat Subrayada', sans-serif;
    color: #ffff;
    background-color: black;
    text-align: center;
}

h5 {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 50px;
    color: #ffff;
    background-color: black;
    text-align: center;
}

p {
    font-family: 'Orbitron', sans-serif;
    font-size: 11px;
    margin: 0;
}

img{
    height: 100px;
    width: 100px;
}
.btn{
    margin-bottom: 15px;
}
 
#reset{
    text-align: center;
}

#fight-text{
    font-family: 'Orbitron', sans-serif;
    color: #ffff;
    font-size: 20px;
    background-color: black;
    text-align: center;
}

.enemyColor{
    background-color: red;
}

.defColor{
    background-color:black;
    color: white;
}